/*
* @Author: Lenovo
* @Date:   2018-01-08 09:50:37
* @Last Modified by:   Lenovo
* @Last Modified time: 2018-01-08 11:27:32
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 16px;
	font-family: "微软雅黑","宋体",sans-serif;
}
a{
	text-decoration: none;
}
body{
	background: #fff;
}
img{
	border: none;
}